.cc-head {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
}

.cch-name {
  display: flex;
  justify-content: center;
  height: 50px;
  line-height: 30px;
  font-weight: 700;
  color: #666;
  font-size: 9px;
  text-align: center;
}

.cc-body {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.c-day-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.c-day-container.disabled {
  pointer-events: none;
}

.c-day-container.disabled {
  color: #ddd;
}
.c-day-container.disabled {
  background: #fff !important;
}
.c-day-container.highlight {
  background: #efdbca;
}
.c-day-container.highlight-green {
  background: #d4e2cb;
}
