.mdp-input {
  float: left;
  width: 150px;
  height: 35px;
  overflow: hidden;
  border-radius: 20px;
}
.mdp-input input:focus {
  outline: none;
}
.mdp-input input {
  width: 130%;
  background: #f5f5f5;
  border: none;
  padding-right: 10px;
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  cursor: pointer;
}
